<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/> 
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> 
        </layout> 
    </appender> 

    <appender name="defaultAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${helenos.root}/WEB-INF/logs/helenos.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{HH:mm:ss,SSS} %L - %m: %n" />
        </layout>
    </appender>
    
    <appender name="securityAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${helenos.root}/WEB-INF/logs/security.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{HH:mm:ss,SSS} - %F: %n" />
        </layout>
    </appender>
    
    <appender name="queryAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${helenos.root}/WEB-INF/logs/queries.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{HH:mm:ss,SSS} - %F: %n" />
        </layout>
    </appender>

    <appender name="hibernateAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${helenos.root}/WEB-INF/logs/hibernate.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{HH:mm:ss,SSS} %L - %m: %n" />
        </layout>
    </appender>
    
    <logger name="tomekkup.helenos.security.web.authentication">
        <level value="DEBUG" />
        <appender-ref ref="securityAppender" />
    </logger>
    
    <logger name="tomekkup.helenos.service.query.impl">
        <level value="INFO" />
        <appender-ref ref="queryAppender" />
    </logger>

    <logger name="org.hibernate">
        <level value="WARN" />
        <appender-ref ref="hibernateAppender" />
    </logger>
    
    <root>
        <level value="WARN"/>
        <appender-ref ref="console" />
        <appender-ref ref="defaultAppender" />
    </root>
</log4j:configuration>